* {
  box-sizing: border-box;
}

:root {
  --gap-item: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-item);
  width: 1032px;
  height: 582px;
  background-color: #000;
  margin: 0 auto;
  padding: 20px;
}

.item1 {
  background-color: #fca065;
}

.item2 {
  background-color: #33dbb8;
}

.item1,
.item2 {
  width: calc(50% - var(--gap-item) / 2);
  height: calc(25% - var(--gap-item) / 2);
}

.item3 {
  background-color: #fd6057;
}

.item4 {
  background-color: #1f9780;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-item);
  padding: 10px;
}

.item3,
.item4 {
  width: calc(50% - var(--gap-item) / 2);
  height: calc(75% - var(--gap-item) / 2);
}

.item5 {
  background-color: #36dbbd;
  width: 100%;
  height: calc(50% - var(--gap-item) / 2);
}

.item6 {
  background-color: #1bc2a4;
}

.item7 {
  background-color: #fea15f;
}

.item6,
.item7 {
  width: calc(50% - var(--gap-item) / 2);
  height: calc(50% - var(--gap-item) / 2);
}
